<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Bike Culver City Crash Map</title>

    <link rel="stylesheet" type="text/css" href="./css/mapstyle.css"/>

    <!-- Google Maps API Script (with async loading and callback) -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&libraries=marker&callback=initMap">
    </script>
</head>

<body>
    <div class="header" id="myHeader" align="center">
       <!---- <img id="logo" align="center" src="../assets/BCC_NavyWhite_Logo.png"> -->
    </div> 

    <div id="nav">
        <h1>Crash Maps</h1>
        
        <!-- Add a dropdown for selecting the year -->
        <select id="year-filter" onchange="filterByYear()">
            <option value="">Select Year</option>
            <!-- Options for the current year and previous year -->
            <option value="<%= currentYear %>" selected><%= currentYear %></option>
            <option value="<%= currentYear - 1 %>"><%= currentYear - 1 %></option>
        </select>
    </div>

    <div id="map"></div>

    <script>
        // Get the current year
        const currentYear = new Date().getFullYear();
    </script>

    <script src="./js/devmaps.js"></script>
</body>
</html>
